.transaction-history {
  font-size: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.head {
  background-color: rgb(100, 100, 218);
  color: white;
}

.cell {
  border: 1px solid black;
  padding: 5px 50px;
}

.tbody {
  background-color: white;
}
